allure-pytest==2.14.3
browser-use==0.2.7
langchain-openai==0.3.21
playwright==1.52.0
pydantic==2.11.5
pydantic_core==2.33.2
pytest==8.4.0
pytest-asyncio==1.0.0
pytest-timeout==2.4.0
python-dotenv==1.1.0
pillow==12.1.1
